#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("src/assets/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

input,
select {
  padding: 4px;
  border-radius: 4px;
}
